<p id="notice"><%= notice %></p>

<p>
  <strong>Genero:</strong>
  <%= @migenero.genero %>
</p>

<p>
  <strong>Idgenero:</strong>
  <%= @migenero.idgenero %>
</p>

<%= link_to 'Edit', edit_migenero_path(@migenero) %> |
<%= link_to 'Back', migeneros_path %>
