<%= form_for(@miautor) do |f| %>
  <% if @miautor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@miautor.errors.count, "error") %> prohibited this miautor from being saved:</h2>

      <ul>
      <% @miautor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :idautor %><br>
    <%= f.number_field :idautor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
