<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @miautor.nombre %>
</p>

<p>
  <strong>Idautor:</strong>
  <%= @miautor.idautor %>
</p>

<%= link_to 'Edit', edit_miautor_path(@miautor) %> |
<%= link_to 'Back', miautors_path %>
